@import url("https://fonts.googleapis.com/css2?family=Epunda+Slab:ital,wght@0,300..900;1,300..900&family=Poppins:wght@400;500;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Epunda Slab", sans-serif;
    font-size: 1.25rem;
    line-height: 1.6;
}

html {
    scroll-behavior: smooth;
}

i {
    display: block;
}

button {
    all: unset;
    display: block;
}

.container {
    width: 100%;
    height: 100vh;
    background: linear-gradient(180deg, rgba(89, 89, 143, 1) 0%, rgba(150, 158, 163, 1) 0%, rgba(20, 41, 107, 1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.btn {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    border-radius: 2rem;
    cursor: pointer;
    border: 0.2rem solid #000;
}

.game-container {
    width: 100%;
    max-width: 60rem;
    height: 40rem;
    background-color: red;
    border-radius: 1rem;
    display: flex;
    overflow: hidden;
}

.game-container-contentLeft {
    width: 100%;
    flex: 1;
    background-color: #575757;
}

.game-container-contentMiddle {
    width: 100%;
    flex: 3;
    background-color: #919191;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.game-titlePlayer {
    font-size: 3rem;
    color: #373737;
}

.game-scoreTotal {
    font-size: 4rem;
    color: #373737;
}

.game-dice {
    width: 8rem;
    height: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #456aa3;
    border-radius: 1rem;
    opacity: 0;
}

.game-dice.active {
    opacity: 1;
}

.game-dice-img {
    width: 100%;
    height: 100%;
    border-radius: 1rem;
}

.game-scoreBoxes {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
}

.game-scoreBox {
    width: 100%;
    max-width: 10rem;
    height: 6rem;
    background-color: #456aa3;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.game-scoreBox-label {
    font-size: 1.4rem;
    color: #373737;
}

.game-scoreBox-input {
    font-size: 2rem;
    color: #000;
}

.game-container-contentRight {
    width: 100%;
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #456aa3;
}

.game-container-contentRight-top {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.game-title {
    font-size: 1.8rem;
    font-weight: bolder;
    color: #bcb9b9;
}

.game-box-btn {
    width: 15rem;
    height: 3rem;
    display: flex;
    align-items: center;
}

.btnNewGame {
    background-color: #919191;
    font-size: 1.4rem;
}

.btnNewGame .fa-solid {
    color: #0a4dab;
}

.game-container-contentRight-line {
    width: 80%;
    height: 0.4rem;
    background-color: #575757;
}

.game-container-contentRight-bottom {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.game-buttons {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.btnRollDice,
.btnHoldDice {
    background-color: #919191;
    font-size: 1.4rem;
}

.btnRollDice .fa-solid {
    color: #136213;
}

.btnHoldDice .fa-solid {
    color: #f90000;
}

@media (width < 840px) {
    .game-container {
        flex-direction: column;
        height: auto;
    }

    .game-container-contentLeft {
        padding: 1rem;
    }

    .game-container-contentMiddle {
        gap: 1rem;
        padding: 1rem;
    }

    .game-scoreTotal {
        font-size: 2rem;
    }

    .game-titlePlayer {
        font-size: 1.4rem;
    }

    .game-dice {
        width: 6rem;
        height: 6rem;
    }

    .game-scoreBox {
        height: 5rem;
    }

    .game-scoreBox-label {
        font-size: 1.2rem;
    }

    .game-scoreBox-input {
        font-size: 1.4rem;
    }

    .game-container-contentRight {
        padding: 1rem;
        flex-direction: column-reverse;
    }

    .game-title {
        font-size: 1.4rem;
    }

    .game-container-contentRight-line {
        margin: 1rem;
    }

    .game-box-btn {
        max-width: 12rem;
        height: 2rem;
    }

    .game-container-contentRight-top,
    .game-container-contentRight-bottom {
        gap: 1rem;
    }

    .btnNewGame,
    .btnRollDice,
    .btnHoldDice {
        font-size: 1.2rem;
    }
}
